@use "../var";
@import "../colors";
@import "../theme";
@import "../spacing";
.header-container {
	@extend .full-size;
	@include flex-container(row, flex-start, center, nowrap);
	height: 4rem;
	padding-left: 2rem;
	@include themed() {
		background-color: t(var.$primary-light);
	}
}
