.cardContainer {
	padding: 10px;
	display: flex;
	flex: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	min-width: 100vw;
	scroll-snap-align: start;
}
.imageContainer {
	display: flex;
	align-self: center;
	max-height: 200px;
	overflow: hidden;
	border-radius: 1000px;
	margin: 20px;
}
.descriptionContainer {
	max-width: 400px;
	overflow: hidden;
	margin: 20px;
}
.sectionText {
	margin-top: 10px;
	margin-bottom: 10px;
}

.sectionHeader {
	display: flex;
	flex-direction: column;
}

.sectionsContainer {
	overflow: hidden;
	background-color: #484848;
	box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.94);
	border-radius: 10px;
	margin: 20px auto;
	border-color: #000;
	padding: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-width: 800px;
	align-self: center;
}

.section {
	display: flex;
	flex-direction: column;
	background-color: #484848;
}
.content {
	display: flex;
	justify-content: space-around;
}
