@use 'var';
@import "./colors";
@import "./theme";
@import "./typography";
@import "./mixins";
@import "./components";
@import "./spacing";
* {
	box-sizing: border-box;
}
.absolute-center {
	min-height: 100vh;
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	margin: 0px;
}
.app-container {
	@include themed() {
		background-color: t(var.$bg);
		color: t(var.$text);
	}
	@extend .absolute-center;
	width: 100vw;
	overflow: hidden;
	display: grid;
	grid-template-columns: 14rem 7fr;
	grid-template-rows: 4rem auto 2rem;

	.container {
		@extend .absolute-center;
		justify-self: stretch;
		position: absolute;
		float: right;
		overflow: scroll;
		@include themed() {
			background-color: t(var.$bg);
			color: t(var.$text);
		}
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 2;
		grid-row-end: 3;

		.admin-router {
			@import "./navigators/admin-router";
		}
		.home-router {
			@import "./navigators/home-router";
		}
	}
	.navbar {
		position: absolute;
		grid-row: 2/4;
		grid-column: 1/2;
		justify-self: stretch;
		background-color: var.$fg;
		height: 100%;
		width: 100%;
		.navbar-container {
			@import "./components/navbar";
			// @extend .full-size;
			overflow-y: scroll;
			overflow-x: hidden;
			@include themed() {
				background-color: t(var.$fg);
			}
			z-index: 100;
			height: 100%;
		}
		.navbar-container::-webkit-scrollbar {
			background: transparent; /* Optional: just make scrollbar invisible */
			width: 0; /* Remove scrollbar space */
		}
	}
	.header {
		position: absolute;
		grid-column: 1/3;
		grid-row-start: 1/2;
		justify-self: stretch;

		width: 100%;
		@import "./components/header";
	}
	.footer {
		position: absolute;
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start: 3;
		grid-row-end: 4;
		@extend .full-size;
		background: var.$border;
		.footer-container {
			@extend .full-size;
			@include themed() {
				background-color: t(var.$inactive);
			}
			opacity: 0.5;
		}
	}
	.router-navbar {
		position: absolute;
		grid-column: 1/3;
		grid-row-start: 1/2;
		justify-self: stretch;
		height: 4rem;
		width: 100%;
		.admin-navbar-container {
			height: 4rem;
			width: 100%;
			// padding: 0rem 0.75rem;
			@import "./components/navbar";
			@include themed() {
				background-color: t(var.$fg);
			}

			.button-container {
				@include flex-container(row, center, center, nowrap);
				position: absolute;
				left: 0;
				right: 0;
				@extend .mx-auto;
				.button {
					height: auto;
				}
				.button:hover {
					@include themed() {
						background-color: t(var.$primary-light);
						color: t(var.$light);
					}
					p {
						@include themed() {
							color: t(var.$light);
						}
					}
				}
			}
		}
	}
}
.mobile {
	.app-container {
		.container {
			grid-template-columns: auto;
		}

		.navbar {
			display: none;
			.navbar-container {
				display: none;
			}
		}
		.container {
			grid-column-start: 1;
		}
		.header {
			grid-column-start: 1;
		}
		.footer {
			grid-column-start: 1;
		}
	}
}
.tablet {
	font-size: 16px;
}
.laptop {
	font-size: 18px;
}
.desktop {
	font-size: 20px;
}
.bigScreen {
	font-size: 22px;
}
// STYLE: SHARED
.scroll-container {
	overflow-y: scroll;
	height: 900px;
	width: 100%;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.scroll-container::-webkit-scrollbar {
	background: transparent;
	width: 0;
}

/* Hide scrollbar for IE and Edge */
.scroll-container {
	-ms-overflow-style: none;
}
.no-scroll {
	overflow: hidden;
}
// STYLE: ROUTERS
.login-router {
	@import "./navigators/login-router";
}

.home-router {
	@import "./navigators/home-router";
}

// STYLE: BACKGROUND
.bg-bg {
	@include themed() {
		background-color: t(var.$bg);
	}
}
.bg-primary {
	@include themed() {
		background-color: t(var.$primary-default);
	}
}
.bg-primary-light {
	background-color: var.$primary-light;
}
.bg-primary-dark {
	background-color: var.$primary-dark;
}
.bg-accent1 {
	background-color: var.$accent1-default;
}
.bg-accent1-light {
	background-color: var.$accent1-light;
}
.bg-accent1-dark {
	background-color: var.$accent1-dark;
}
.bg-accent2 {
	background-color: var.$accent2-default;
}
.bg-accent2-light {
	background-color: var.$accent2-light;
}
.bg-accent2-dark {
	background-color: var.$accent2-dark;
}
// STYLE: MISC
button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
// ^used to remove default styling from buttons
li {
	list-style-type: none;
}
.margin-auto {
	margin-left: auto;
	margin-right: auto;
}
