.container {
	display: flex;
	flex-direction: column;
	scroll-snap-type: mandatory;
	overflow-y: scroll;
}

.card {
	flex: none;
	display: flex;

	min-height: 100vh;
	width: 100vw;
	scroll-snap-align: start;
}
